<div style="padding:10px; margin:10px">

    <form name="NewEventForm">
        <fieldset>
            <label for="eventName">Event Name:</label>
            <input id="eventName" type="text" ng-model="event.name" required placeholder="Name of your event">

            <label for="eventDate">Event Date:</label>
            <input id="eventDate" type="text" ng-model="event.date" required placeholder="Format mm/dd/yyyy" ng-pattern="/\d\d/\d\d/\d\d\d\d/">

            <label for="eventTime">Event Time:</label>
            <input id="eventTime" type="text" ng-model="event.time" placeholder="start and end time">

            <label for="eventLocation">Event location:</label>
            <input id="eventLocation" type="text" ng-model="event.location.address" placeholder="Address of event">
            <br>
            <input id="eventCity" type="text" ng-model="event.location.city" placeholder="City" class="input-small">
            <input id="eventProvince" type="text" ng-model="event.location.province" placeholder="Province" class="input-small">

            <label for="eventImageUrl">Image:</label>
            <input id="eventImageUrl" type="url" ng-model="event.imageUrl" class="input-xlarge" placeholder="Url of image...">
        </fieldset>

        <img ng-src="{{ event.imageUrl }}" src="" />
        <br>
        <br>

        <button type="submit" ng-click="saveEvent(event, NewEventForm)" ng-disabled="NewEventForm.$invalid" class="btn btn-primary" >Save</button>
        <button type="button" ng-click="cancelEdit()" class="btn btn-default">Cancel</button>
    </form>
</div>
